<header class="block absolute w-full z-40 bg-gray-800">
    <div class="flex pt-2  justify-center ">
        <div class="flex ml-3  py-3 items-center ">
            <img class="h-11 m-1 inline" src="logo/MTerrainLogo.png">
            <p class="inline m-1 tshadow-h text-2xl font-serif font-bold text-white ">M. TERRAIN DESIGNS</p>
            <p class="inline m-1 tshadow-h text-lg text-white">LLP</p>
        </div>


        <div class="hidden md:flex items-center justify-end md:flex-1 ">
            <div class="block mr-3  ">
                <p class="text-xs tshadow-h text-white">LANDSCAPE PLANNING</p>
                <P class="text-xs tshadow-h text-white">SPATIAL PLANNING</P>
                <p class="text-xs tshadow-h text-white">SUSTAINABLE DEVELOPMENT</p>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------->

</header>