<header class="block absolute w-full z-40">
    <div class="flex pt-2  justify-center ">
        <div class="flex ml-3  py-3 items-center ">
            <img class="h-8 sm:h-11 m-1 inline" src="logo/MTerrainLogo.png">
            <p class="inline m-1 tshadow-h text-base sm:text-2xl font-serif font-bold text-white ">M. TERRAIN DESIGNS</p>
            <p class="inline m-1 tshadow-h text-sm sm:text-lg text-white">LLP</p>
        </div>


        <div class="hidden md:flex items-center justify-end md:flex-1 ">
            <div class="block mr-3  ">
                <p class="text-xs tshadow-h text-white">LANDSCAPE PLANNING</p>
                <P class="text-xs tshadow-h text-white">SPATIAL PLANNING</P>
                <p class="text-xs tshadow-h text-white">SUSTAINABLE DEVELOPMENT</p>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------->
    <div class="flex h-80 items-end justify-center">
        <div class="block">
            <h3 class="font-caveat text-2xl sm:text-4xl md:text-6xl text-center tshadow text-white"> Hi! Welcome to Our Studio !</h3>
            <h1 class="text-4xl sm:text-6xl tshadow md:text-7xl md:mt-2 text-center mb-11 text-white"> IT'S NICE TO MEET YOU </h1>
        </div>

    </div>

    <div class="block mt-14 ">
        <div class=" flex justify-center items-start">
            <a href="/#about-us">
                <button type="button" class="bg-yellow-500 hover:bg-green-600 hover:border-green-700 text-white font-bold py-2 px-4 border border-yellow-600 rounded shadow-md text-sm m-2" style="
                background-color: #007121;
                border-color: #0a2b0a;
            ">ABOUT US</button>
            </a>
            <div class="relative">
                <button id="projectbtn" class="bg-green-700 hover:bg-green-800 hover:border-green-900 text-white font-bold py-2 px-4 border border-green-800 rounded shadow-md text-sm m-2 " style="
                background-color: #007121;
                border-color: #0a2b0a;
            ">PROJECTS</button>

                <div id="pjtdrpdwn " class="dropdown-content origin-top block w-48 rounded-md shadow-lg  ring-1 ring-black ring-opacity-5 focus:outline-none " style="
                background-color: #007121;
                border-color: #0a2b0a;
            ">
                    <a class="text-white block px-4 pt-2 pb-1 text-sm" href="/townships ">TOWNSHIP</a>
                    <a class="text-white block px-4 py-1 text-sm" href="/housing ">HOUSING</a>
                    <a class="text-white block px-4 py-1 text-sm" href="commercial ">COMMERCIAL</a>
                    <a class="text-white block px-4 py-1 text-sm" href="/villas ">RESIDENCES</a>
                    <a class="text-white block px-4 pt-1 pb-2 text-sm " href="/misc ">MISC</a>
                </div>
            </div>



            <button class="bg-yellow-500 hover:bg-green-600 hover:border-green-700 text-white font-bold py-2 px-4 border border-yellow-600 rounded shadow-md text-sm m-2" style="
            background-color: #007121;
            border-color: #0a2b0a;
        ">CONTACT US</button>
        </div>
    </div>
</header>