<header class="block  bg-white bg-opacity-50 ">
    <div class="flex pt-2 items-center justify-center ">
        <div class="flex ml-3 ">
            <img class="h-8 m-1 inline" src="logo/MTerrainLogo.png">
            <p class="inline m-1 text-lg font-serif font-bold ">M. TERRAIN DESIGNS</p>
            <p class="inline m-1 text-lg">LLP</p>
        </div>


        <div class="hidden md:flex items-center justify-end md:flex-1 ">
            <div class="block mr-3  ">
                <p class="text-xs">LANDSCAPE PLANNING</p>
                <P class="text-xs">SPATIAL PLANNING</P>
                <p class="text-xs">SUSTAINABLE DEVELOPMENT</p>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------->

    <div class="block">
        <div class=" flex justify-center items-start  border-solid border-t-4 border-b-4 border-white">
            <a href="/#about-us">
                <button type="button" class="bg-white rounded-md inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:ring-green-500 py-1 px-2 my-1 mx-3 ring-2 ring-gray-300 text-sm">ABOUT US</button>
            </a>
            <div class="relative">
                <button id="projectbtn" class=" bg-white  rounded-md inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:ring-green-500 py-1 px-2 my-1 mx-3 ring-2 text-sm ring-gray-300 ">PROJECTS</button>

                <div id="pjtdrpdwn " class="dropdown-content origin-top-right block right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none ">
                    <a class="text-gray-700 block px-4 py-2 text-sm" href="/townships ">TOWNSHIP</a>
                    <a class="text-gray-700 block px-4 py-2 text-sm" href="/housing ">HOUSING</a>
                    <a class="text-gray-700 block px-4 py-2 text-sm" href="commercial ">COMMERCIAL</a>
                    <a class="text-gray-700 block px-4 py-2 text-sm" href="/villas ">RESIDENCES</a>
                    <a class="text-gray-700 block px-4 py-2 text-sm " href="/misc ">MISC</a>
                </div>
            </div>



            <button class="bg-white rounded-md inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:ring-green-500  py-1 px-2 my-1 mx-3 ring-2 ring-gray-300 text-sm">CONTACT US</button>
        </div>
    </div>
</header>