   <header id="titlebar" style="top: 0; position : fixed;">
        <div id="headbar">
            <img id="title" src="./titlebar/title.png">
            <img id="title_r" src="./titlebar/title_r.png">
        </div>
        <div id="navbar">
            <div class="navbar-buttons">
                <a href="/#about-us">
                    <img class="navbuttons" src="./nav/abtus button.png">
                </a>
                <img id="projectbtn" class="navbuttons" src="./nav/project button.png">
                <div id="pjtdrpdwn" class="dropdown-content">
                    <a href="/townships">TOWNSHIP</a>
                    <a href="/housing">HOUSING</a>
                    <a href="commercial">COMMERCIAL</a>
                    <a href="/villas">RESIDENCES</a>
                    <a href="/misc">MISC</a>
                </div>
                <img class="navbuttons" src="./nav/contact button.png">
            </div>
        </div>
    </header>