<header class="block absolute w-full z-40">
    <div class="flex pt-2  justify-center ">
        <div class="flex ml-3  py-3 items-center ">
            <img class="h-11 m-1 inline" src="logo/MTerrainLogo.png">
            <p class="inline m-1 tshadow-h text-2xl font-serif font-bold text-white ">M. TERRAIN DESIGNS</p>
            <p class="inline m-1 tshadow-h text-lg text-white">LLP</p>
        </div>


        <div class="hidden md:flex items-center justify-end md:flex-1 ">
            <div class="block mr-3  ">
                <p class="text-xs tshadow-h text-white">LANDSCAPE PLANNING</p>
                <P class="text-xs tshadow-h text-white">SPATIAL PLANNING</P>
                <p class="text-xs tshadow-h text-white">SUSTAINABLE DEVELOPMENT</p>
            </div>
        </div>
    </div>
    <!-- <div id="headbar">
  

        <img src="../logo/MTerrainLogo.png">
        <p id="bold">M. TERRAIN DESIGNS</p>
        <p id="norm">LLP</p>
        <div class="head-right">
            <p>LANDSCAPE PLANNING</p>
            <P>SPATIAL PLANNING</P>
            <p>SUSTAINABLE DEVELOPMENT</p>
        </div>
    </div>
    <div id="navbar">
        <div class="navbar-buttons">
            <a href="/#about-us">
                <img class="navbuttons" src="./nav/abtus button.png">
            </a>
            <img id="projectbtn" class="navbuttons" src="./nav/project button.png">
            <div id="pjtdrpdwn" class="dropdown-content">
                <a href="/townships">TOWNSHIP</a>
                <a href="/housing">HOUSING</a>
                <a href="commercial">COMMERCIAL</a>
                <a href="/villas">RESIDENCES</a>
                <a href="/misc">MISC</a>
            </div>
            <img class="navbuttons" src="./nav/contact button.png">
        </div>
    </div> -->
</header>