<div id="loader">
    <img src = "../logo/logo-preloader.gif">
</div>
<script>
    var loader = document.getElementById("loader");

    window.addEventListener("load", function(){
        loader.style.display= "none";
    });

</script>