body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-image: url("../background/paperback.png");
}

#loader {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#loader img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body::-webkit-scrollbar {
    display: none;
}

#headbar {
    display: flex;
    padding: 2px;
}

#headbar p {
    margin: auto 6px;
    font-size: large;
}

#bold {
    font-family: 'Stardos Stencil', cursive;
    text-shadow: 0.3px 0.3px 0.5px black;
}

#norm {
    text-shadow: 0.1px 0.1px 0.1px black;
}

#headbar img {
    max-height: 45px;
}

.head-right {
    display: block;
    text-align: right;
    position: absolute;
    right: 0;
}

.head-right p {
    font-size: 8px !important;
    font-family: 'Arial', sans-serif !important;
    font-stretch: ultra-expanded;
    text-shadow: 0.3px 0.3px 0.1px black;
    padding: 3px;
}

#titlebar {
    position: sticky;
    top: 0;
    background-color: #d9d2bf;
    width: 100%;
    z-index: 100;
}

#title {
    left: 0;
    position: absolute;
    height: inherit;
}

#title_r {
    right: 0;
    position: absolute;
    height: inherit;
}

#navbar {
    background-color: #555555;
    height: 30px;
    position: relative;
    width: 100%;
    border-top: solid 3px #ffffff;
    border-bottom: solid 3px #ffffff;
}

.navbar-buttons {
    height: inherit;
    right: 7px;
    position: absolute;
}

.navbar-buttons a {
    text-decoration: none;
}

.navbuttons {
    height: 69%;
    margin: 5px 0 5px 0;
}

.dropdown-content {
    opacity: 0;
    height: 0;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.show {
    opacity: 1;
    height: fit-content;
    transition: 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.panel {
    height: 100vh;
}

.font-caveat {
    font-family: 'Caveat', cursive;
}

.container {
    width: 100vw;
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tshadow {
    text-shadow: 3px 4px 2px black;
}

#overlay {
    width: 100vw;
    height: 700px;
    background-color: rgb(33 25 4 / 72%);
    position: absolute;
    top: 0;
    z-index: 30;
}

.slider.outer {
    width: 100vw;
    position: absolute;
}

.slider-inner {
    width: inherit;
    height: 700px;
    position: absolute;
    overflow: hidden;
    float: left;
    background-color: black;
}

.slider-inner img {
    object-fit: cover;
    display: none;
    width: inherit;
    height: 700px;
    z-index: 0;
}

.slider-inner img.active {
    display: inline-block;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.prev,
.next {
    float: left;
    cursor: pointer;
}

.prev {
    position: relative;
    z-index: 20;
}

.next {
    position: absolute;
    z-index: 20;
    right: 0;
}

.bg {
    width: 100vw;
    height: 100vh;
}

.text-title {
    position: absolute;
    width: 180px;
    text-align: center;
    padding: 11px 7px;
    background-color: #544b29;
    border-radius: 18px;
    font-family: Century Gothic;
    font-size: 22px;
    color: white;
    font-weight: 500;
}

.text-title p {
    margin: 0;
}

.jumbotron {
    width: 1217px;
    margin-left: auto;
    margin-top: 22px;
    margin-right: auto;
    text-align: -webkit-center;
    padding: 27px;
    background-color: #999966;
    border-radius: 16px;
}

#abt-us-content {
    position: absolute;
    top: 131.4vh;
}

#phil-content {
    position: absolute;
    top: 331.4vh;
}

.small {
    font-size: 17px;
    text-align: center;
    font-family: Century Gothic;
}

#vid {
    width: 1000px;
    margin: auto;
}